<% provide(:title, 'Reset Password') %>

 <div class="row">
   <div class="col-md-6 col-md-offset-1,5">
    <h8>Reset Password</h8>
    <%= form_for(:password_reset) do |f| %>

      <%= f.label :email, "EMAIL", class: "form_control" %>
      <%= f.text_field :email, class: "field_control" %>

      <%= f.submit "Reset Password" %>
    <% end %>
  </div>
</div>