  <div class="col-md-5 col-md-offset-1">
    <body class="tasks">

      <%= form_for(@task) do |f| %>
      <div class="field">
        <h3> TASK </h3>
        <%= f.text_field :task %>
      </div>
      <% end %>
    </div>
  </div>

