<div class="col-md-5 col-md-offset-1">
  <body class="tasks">
    <%= form_for(@task, url: project_tasks_url(@project)) do |f| %>
    <div class="field">
      <h3> SET TASK </h3>
      <%= f.text_field :name %>
    </div>
    <% end %>
  </div>
</div>

