<nav class="pagination">
	<%= paginate @pomodoros %>
<table class="table">
<tr>
	<th class= "col-sm-1"> Project </th>
	<th class= "col-sm-1"> Issue </th>
	<th class= "col-sm-1"> Date / Time </th>
</tr>

<% @pomodoros.each do |pomodoro| %>
<tr>
	<td><%= pomodoro.project %></td>
	<td><%= pomodoro.issue %></td>
	<td><%= pomodoro.created_at.in_time_zone("Berlin").to_s(:short) %></td>
</tr>
<% end %>
</table>
</nav>