  <div class="col-md-5 col-md-offset-1">
    <body class="pomodoros">

      <%= form_for(@pomodoro) do |f| %>
      <div class="field">
        <h3> SET NEW TASK </h3>
        <%= f.text_field :project %>
      </div>
      <% end %>
    </div>
  </div>

