<body class="pomodoros">

  <%= form_for(@pomodoro, url: project_task_pomodoros_url(:project_id, :task_id)) do |f| %>
  <div class="field">
     <%= f.text_field :task_id, :value => @task.id %>
  </div>
  <% end %>
</div>
