  <div class="col-md-5 col-md-offset-3">
    <body class="pomodoros">

      <%= form_for(@pomodoro) do |f| %>
      <div class="field">
        <p> Project </p>
        <%= f.text_area :project %>
        <p> Issue </p>
        <%= f.text_area :issue %>
      </div>
      <br /> <br />
      <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>

