<h1> Pomodoros </h1>

<table>
	<tr>
		<th> Pomodoro </th>
		<th> Date / Time </th>
	</tr>

<% @pomodoros.each do |pomodoro| %>
	<tr>
	    <td><%= pomodoro.id %></td>
	    <td><%= pomodoro.created_at.strftime('%F %T') %></td>
	    <!-- to_s(:short) -->
	</tr>
<% end %>
</table>

