<h3> Daily done Pomodoros </h3>
<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="pomodoros">
	<%= render "pomodoros/form" %>
</body>
</html>
