<h1> Pomodoros </h1>

<table>
	<tr>
		<th> Pomodoro </th>
		<th> Date / Time </th>
	</tr>

<% @pomodoros.each do |pomodoro| %>
	<tr>
	    <td><%= pomodoro.id %></td>
	    <td><%= pomodoro.created_at.in_time_zone("Berlin").to_s(:short) %></td>
	</tr>
<% end %>
</table>

