<div class="col-sm-5 blog-main">
  <div class="done">
  <%= image_tag("tomato-medium.png") %> 
</div>
</div>
<div class="col-md-5 col-md-offset-2 blog-sidebar">
  <div class="sidebar-module">
    <div class="daily-pomodoro">
  <h3> Daily done Pomodoros </h3>
<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="pomodoros">
	<%= render "pomodoros/form" %>
</body>
</html>
</div>
</div>
</div>
