<html>
<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
</html>
<html>
<body>
	<body class="pomodoros">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-0">
          <h4> Let's get </h4>
          <h4> started </h4>
          <p1> SET NEW TASK </p1>
      <a href="/" class="round-button">+</a>
			</div>
		</div>
	</div>
</body>
</html>

