<html>
<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
</html>
<html>
<body>
	<body class="pomodoros">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-0">
          <h4> Let's get </h4>
          <h5> started </h5>
          <h6> SET NEW TASK </h6>
          <%= link_to '+', new_project_path, class: 'round-button' %>
			</div>
		</div>
	</div>
</body>
</html>

