  <div class="col-md-5 col-md-offset-1">
    <body class="projects">

      <%= form_for(@project) do |f| %>
      <div class="field">
        <h3> SET NEW PROJECT </h3>
        <%= f.text_field :name %>
      </div>
      <% end %>
    </div>
  </div>

