
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #FFFFFF;
  padding-top: 60px;
  text-align: center;
  background-image: url(image-path('grey4.png')) !important;
  height: 1px;
  width: 150;
  background-repeat: repeat-y !important; 
  background-position: 60% 40%;
}

header {
  color: blue;
  height: 20px;
  float: left;
  margin-top: -10px;
  font-size: 1em;
  background-color: #000000;
  text-transform: downcase;
  letter-spacing: -1px;
  padding-top: -10px;
  box-shadow: 0 4px 2px -2px gray;
  -webkit-box-shadow: 5px 15px 25px rgba(100, 100, 100, 0.49);
}

header:hover {
  color: #FFFFFF;
  text-decoration: none;
}

header.navbar.navbar-fixed-top {
  background-color: #000000;
  margin-bottom: -20px;
}

.navbar-left {
  float: left !important;
  margin-left: -5px;
  margin-top: -5px;
  letter-spacing: 1px;
}

.button {
  background-color:#ff0000;
  font-size:15px;
  padding: 5px 25px;
  color:#fff;
  border: 0 none;
}

.button:hover {
  background: #e00303;
  text-decoration: none;
}

.form_control {
  margin-top: 25px;
}

.field_control {
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 150% !important;
  text-align: center;
}

.button_second {
  background-color:#ffffff;
  font-size:15px;
  padding: 5px 25px;
  color:#000000;
  border: 0 none;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: -10px;
}

.col-sm-6 {
  margin-top: 2px;
  margin-right: 500px;
  -webkit-box-shadow-right: 5px 15px 25px rgba(100, 100, 100, 0.49);
}

h1, .h1 {
  font-size: 600% !important;
  margin-bottom: -20px !important;
  margin-top: 50px !important;
}

h2, .h2 {
  font-size: 470% !important;
  margin-top: -20px !important;
  margin-bottom: 50px !important;
}

h4, .h4 {
  padding-top: 20%;
  font-size: 350% !important;
  margin-top: -20px !important;
  margin-bottom: 15px !important;
}

p1, .p1 { 
  font-size: 100%;
  color: #ff0000;
  font-weight: bold;
}

.round-button {
    margin-left: 240px;
    display:block;
    width:90px;
    height:90px;
    line-height:80px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #ff0000;
    box-shadow: 0 0 3px gray;
    font-size:70px;
}
.round-button:hover {
  background: #e00303;
  text-decoration: none;
}

