
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Montserrat' ;
    src: url( asset-path('montserrat-regular-webfont.eot'));
    src: url( asset-path('montserrat-regular-webfont.woff2')) format('woff2'),
         url( asset-path('montserrat-regular-webfont.woff')) format('woff'),
         url( asset-path('montserrat-regular-webfont.ttf')) format('truetype'),
         url( asset-path('montserrat-regular-webfont.eot?#iefix')) format('embedded-opentype'),
         url( asset-path('montserrat-regular-webfont.svg#montserratregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

body, input, textarea, table, th, td, h1, h2, h3, h4, h5, h6, h7, p {
    font-family: 'Montserrat' ;
}

body {
  background-color: #FFFFFF;
  padding-top: 60px;
  text-align: center;
  background-image: url(image-path('grey4.png')) !important;
  height: 1px;
  width: 150;
  background-repeat: repeat-y !important; 
  background-position: 60% 40%;
}

header {
  color: blue;
  height: 20px;
  float: left;
  margin-top: -10px;
  font-size: 1em;
  background-color: #000000;
  text-transform: downcase;
  letter-spacing: -1px;
  padding-top: -10px;
  box-shadow: 0 4px 2px -2px gray;
  -webkit-box-shadow: 5px 15px 25px rgba(100, 100, 100, 0.49);
}

header:hover {
  color: #FFFFFF;
  text-decoration: none;
}

header.navbar.navbar-fixed-top {
  background-color: #000000;
  margin-bottom: -20px;
}

.navbar-left {
  float: left !important;
  margin-left: -5px;
  margin-top: -5px;
  letter-spacing: 1px;
}

.button {
  background-color:#ff0000;
  font-size:15px;
  padding: 5px 25px;
  color:#fff;
  border: 0 none;
}

.button:hover {
  background: #e00303;
  text-decoration: none;
}

.btn_start {
    width:60px;
    height:60px;
    line-height:45px;
    border-radius: 50%;
    color:#ffffff !important;
    background: #ff0000 !important;
    box-shadow: 0 0 3px gray;
    font-size: 150%;
    border: 0 none;
}

.btn_stop {
    width:60px;
    height:60px;
    line-height:45px;
    border-radius: 50%;
    color:#ffffff !important;
    background: #000000 !important;
    box-shadow: 0 0 3px gray;
    font-size: 100%;
    border: 0 none;
}

.form_control {
  margin-top: 25px;
}

.field_control {
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 150% !important;
  text-align: center;
}

.button_second {
  background-color:#ffffff;
  font-size:15px;
  padding: 5px 25px;
  color:#000000;
  border: 0 none;
}

.container {
  padding-right: -10px;
  margin-right: 20px;
  margin-left: 200px;
  padding-left: 10px;
  padding-top: -10px;
}

.col-sm-6 {
  margin-top: 10px;
  margin-right: 500px;
  -webkit-box-shadow-right: 5px 15px 25px rgba(100, 100, 100, 0.49);
}

h1, .h1 {
  font-size: 600% !important;
  margin-bottom: -20px !important;
  margin-top: 50px !important;
}

h2, .h2 {
  font-size: 470% !important;
  margin-top: -10px !important;
  margin-bottom: 50px !important;
}

h3, .h3 {
  font-size: 110%;
  color: #ff0000;
  font-weight: bold;
  padding-top: 100px;
}

h4, .h4 {
  padding-top: -120%;
  font-size: 350% !important;
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}

h5, .h5 {
  padding-bottom: 2%;
  font-size: 350% !important;
}

h6, .h6 { 
  font-size: 100%;
  color: #ff0000;
  font-weight: bold;
  padding-bottom: 10px;
}

h7, .h7 {
  font-size: 110%;
  color: #ff0000;
  font-weight: bold;
}

h8, .h8 {
  font-size: 150%;
  font-weight: bold;
  padding-bottom: 10px;
}

h9, .h9 {
  font-size: 400%;
  color: #000000;
  font-weight: bold;
  padding-top: 0px;
}

.col-sm-5 {
  height: 700px;
}

.done {
  padding-top: 110px;
}

.round-button {
    margin-left: 190px;
    display:block;
    width:90px;
    height:90px;
    line-height:85px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #ff0000;
    box-shadow: 0 0 3px gray;
    font-size:70px;
}
.round-button:hover {
  background: #e00303;
  text-decoration: none;
}

table, th, td {
  text-align: center;
}

input, textarea, .uneditable-input {
  border: 0;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #808080;
  text-align: center;
  font-size: 300%;
}

input:focus {
  border-bottom: 2px solid #435160;
}

input[type=button] {
  background: #fff;
  border:1px solid #000;
}

input {
  height: auto !important;
}

#countdown {
    width: 400px;
    margin: auto;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
    font-size: 400%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  font-size: 200%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.center-div {
  margin: 0 auto;
}

.row {
  text-align: center;
}

div.new-pomodoro {
  display: none;
}

.row form {
  display: inline-block;
}

.center {
  text-align: center;
}

p {
  margin-top: 25px;
}

.project-name {
    font-size: 130%;
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid black;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 50%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

.task-item {
    width: 100%;
    text-align: left;
    font-size: 130%;
}

.image_tag {
  display: none;
}

.pomodoro_task_name {
  font-size: 30px;
}

.button2 {
    margin-left: 210px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 33px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align: center;
    text-decoration:none;
    background: #000000;
    box-shadow: 0 0 3px gray;
    font-size: 20px;

    &:before, &:after {
    content: "";
    position: absolute;
    width: 190px;
    height: 1px;
    background: black;
    margin-top: 15px;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

.headline {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    padding-top: 50px;
    padding-bottom: 20px;
}

nav ul ul {
  display: none;
}

ul.nav.navbar-nav.navbar-right {
  width: 30%;
  margin-right: 100px;
}
  nav ul li:hover > ul {
    display: block;
  }

#menu {
  font-size:14px;
  position:absolute; 
  margin-right: -200px;
}

#menu ul {
  list-style-type:none;
  list-style-image:none;
  margin-top:20px;
  padding:0px;
}

#menu li.topmenu {
  float:left;
  margin-right: -10px;
}

.topmenu a {
  float:left;
  width:110px;
  text-align:center;
}

.topmenu ul{
  display:none;
}

.topmenu a, submenu a {
  color:#D3D3D3;
  text-decoration:none;
  background-color:#000;
  height: 30px;
  vertical-align: bottom;
}

.submenu a {
  color:#D3D3D3;
  text-decoration:none;
  background-color:#FFF;
  padding-top:40px;
  font-size:12px;
  width:150px;
  position:relative;
  clear:both; /* special IE6 */
}


.topmenu:hover ul {
  display:block;  
  z-index:500;
}

.headline:hover {
  color:#D3D3D3;
}

input.dial {
  padding-top: -110px !important;
  height: 100px !important;
  width: 300px !important;
  margin-top: -280px !important;
  margin-left: -130px !important;
  font-size: 400% !important;
}

.circular-bar{
  text-align: center;
  .circular-bar-content{
    margin-bottom: 70px;
    margin-top: -320px;
    text-align: center;
    strong{
      display: block;
      font-weight: 600;
    }
    label{
      display: block;
      font-weight: 300;
    }
  }
}
