// Place all the styles related to the tomato controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-material-design/material';
@import 'bootstrap-material-design/ripples';
@import 'bootstrap-material-design/snackbar';


body {
  padding-top: 60px;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table, th, td {
  text-align: center;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

header {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

header:hover {
  color: #fff;
  text-decoration: none;
}

row {
  text-align: center;
}

.daily-pomodoro {
  
}

div.new-pomodoro {
  display: none;
}