// Place all the styles related to the tomato controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
    background-color: #FFFFFF;
    text-align: center;
    background-color: #F0F0D8;
    font-style: italic;
    margin-left: 15px;
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

table th, td {
    padding: 5px;
}

iframe {
    border-style: none;
    height: 350px;
    width: 350px;
}

.pomodoros body {
    padding-top: 60px;
    background-color: #FFFFFF;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
