// Place all the styles related to the Pomodoros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

table, th, td {
  text-align: center;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 50px;
}

input {
  height: auto !important;
}

#countdown {
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}