// Place all the styles related to the tomato controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
    background-color: #FFFFFF;
    text-align: center;
    background-color: #F0F0D8;
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    color: darkred; 
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 3px;
}

.center h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #009933;
    font-size: 15px;
}

#countdown {
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}

p {
    margin-top: 25px;
}

