// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-material-design/material';
@import 'bootstrap-material-design/ripples';
@import 'bootstrap-material-design/snackbar';


body {
  padding-top: 60px;
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table, th, td {
  text-align: center;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

p {
  margin-top: 25px;
}


