<nav class="pagination">
  <div class="project-list">
    <% @projects.each do |project| %>  
      <div class="project-name"> 
        <%= link_to new_project_task_path(project.id), style: 'color:#000' do %>
        <%= project.name %>
        <% end %>
      </div>
      <div class="task-list">
        <% project.tasks.each do |task| %>  
          <p class="task-item"> 
            <%= image_tag("tomato_middle.png") %> <%= task.name %> <p>
        <% end %> 
      </div> 
    <% end %> 
  </div>
</div>

