<div class="center jumbotron">
  <h1>Tomato-Clock</h1>
  <h2>
    When its ready, it should display a pomodoro-clock
  </h2>

  <script type="text/javascript">
  var isTimerOn = false;
  var tomatoTime = 5; 
  var pauseTime = 3;
  var time = tomatoTime;
  var interval;
  

  function countdown() {
    interval = setInterval(function() {
      if(time == 0) {
        end();
        return;
      }
      updateTimerDisplay(time);
      time--;
    }, 1000); 
  }

  function end() {
    isTimerOn = false;
    document.getElementById("countdown").innerHTML = "Pause for 5 Minutes!";
    document.getElementById("toggle").innerHTML = ":-)";
    clearInterval(interval);
    time = pauseTime;
    setInterval(updateTimerDisplay, 2000);
    pause();
  }

  function pause() {
    interval = setInterval(function() {
      if(time == 0) {
        stop();
        alert("Pause is over!"); 
        document.getElementById("toggle").innerHTML = "Start";
        return;
      }
      updateTimerDisplay(time);
      time--;
    }, 1000);
  }

  function stop() {
    isTimerOn = false;
    clearInterval(interval);
    document.getElementById("toggle").innerHTML = "Start";
    time = tomatoTime; 
    updateTimerDisplay();
  }

  function updateTimerDisplay() {
    var el = document.getElementById("countdown");
    var minutes = Math.floor( time / 60 );
    if (minutes < 10) minutes = "0" + minutes;
    var seconds = time % 60;
    if (seconds < 10) seconds = "0" + seconds;
    var text = minutes + ':' + seconds;
    el.innerHTML = text;
  }

  function toggle() {
    if (!isTimerOn){
      isTimerOn = true;
      countdown();
      document.getElementById("toggle").innerHTML = "Pause";
    } else {
      isTimerOn = false;
      clearInterval(interval);
      document.getElementById("toggle").innerHTML = "Resume";
    }
  }
  </script>
  <div id='countdown'>Pomodoro</div>
  <button id="toggle" onclick="toggle()">Start</button>
  <button id="stop" onclick="stop()">Stop</button>





