<div class="col-sm-5 blog-main">
  <script>
  $(function() {
    $(".dial").knob();
  });
  </script>
  <div class="circular-bar">
    <input class="dial" data-fgColor="#ff0000" data-width="450" data-height="450" value="1500">
    <div class="circular-bar-content"
    <strong></strong>
    <div id="countdown">Tomato</div>
    <label></label>
  </div>
</div>
<button class="btn btn-material-blue" button id="toggle" onclick="toggle()">Start</button>
<button class="btn btn-material-red" button id="interrupt" onclick="interrupt()">Stop</button>
</div>
<div class="col-md-5 col-md-offset-2 blog-sidebar">
  <div class="sidebar-module">
    <div class="daily-pomodoro">
      <div class="headline">
        <% if logged_in? %>
        <span data-tooltip aria-haspopup="true" class="hip" title="Projectname"> + </span>
        <% else %>
        <span class=" "> </span>
        <% end %>
      </div>
      <%= render "pomodoros/form" %>
    </div>
    <div class="new-pomodoro">
      <%= render "pomodoros/save" %>
    </div>
  </div>
</div>







