<div class="center jumbotron">
	<h1>Tomato-Clock</h1>
<h2>
  When its ready, it should display a pomodoro-clock
</h2>

  <%= link_to "Start", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Stop", '#', class: "btn btn-lg btn-primary" %>
</div>

