<div class="center jumbotron">
  <h1>Tomato-Clock</h1>
  <h2>
    When its ready, it should display a pomodoro-clock
  </h2>

  <div id='countdown'>Pomodoro</div>
  <button id="toggle" onclick="toggle()">Start</button>
  <button id="stop" onclick="stop()">Stop</button>
</div>





