<!-- <h3> Projects </h3>
<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="projects">
	<%= render "projects/new" %>
</body>
</html> -->
