<% content_for("sidebar") do -%>
  These are other information about the projects
<% end -%>

<h1>successful Pomodoro</h1>

<table>
	<tr>
		<th>Number</th>
		<th>Projectname</th>
		<th></th>
	</tr>
	
<% @pomodoro.each do |pomodoro| %>
    <tr>a href=""></a>
        <td><%= pomodoro.number %></td>
        <td><%= projectname.content %></td>
        <td></td>
    </tr>
<% end %>
</table>	




